<div class="details-section">
    <div class="description">
      <h2>DESCRIPTION</h2>
      <hr />
      <p>
        Sample text. Click to select the text box. Click again or double click to start editing the text.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  
    <div class="information">
      <h2>INFORMATION</h2>
      <hr />
      <table>
        <tr>
          <td class="label">BRAND</td>
          <td>Jewelry Brand</td>
        </tr>
        <tr>
          <td class="label">MODEL</td>
          <td>T084.210.11.116.01</td>
        </tr>
        <tr>
          <td class="label">GENDER</td>
          <td>Ladies</td>
        </tr>
      </table>
    </div>
  </div>
  