<nav class="navbar">
  <ul>
    <li data-component="details" class="details" (click)="selectComponent('details')">
      <h3>Details</h3>
    </li>
    <li data-component="shipping" class="shipping" (click)="selectComponent('shipping')">
      <h3>Shipping</h3>
    </li>
    <li data-component="reviews" class="reviews" (click)="selectComponent('reviews')">
      <h3>Reviews</h3>
    </li>
    <li data-component="questions" class="questions" (click)="selectComponent('questions')">
      <h3>Questions</h3>
    </li>
  </ul>
</nav>
