<div class="container">
    <title>OUR HAPPY CUSTOMERS</title>

    <div class="review-card" >
        <div class="stars">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </div>
        <div class="reviewer">
          <strong>Alex K.</strong>
          <span class="verified">&#10004;</span>
        </div>
        <p class="testimonial">
          <em>
            "Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions."
          </em>
        </p>
      </div>
      
</div>