table {
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-inline: auto;
    margin-top: 40px;
    box-shadow: 6px 3px 3px black;
}

th, td {
    border: 3px solid black;
}

td {
    text-align: center;
    padding: 10px;
}

td:hover {
    background-color: #0091ff;
}

a {
    text-decoration: none;
    color: black;
}

.breadcrumbs {
    margin-top: 20px;
    margin-left: 21%;
}